

.triviabox {
    background: #E9ECEF;
    width: 80%;
    height: 600px;
    border-radius: 8px;
}

.crdstyle {
    width: 100%;
    height: 45%;
    background: mediumslateblue;
    border-radius: 3px !important;
}

.options:hover {
    background: rgb(101, 78, 228);
    cursor: pointer;
}

.title{
    height:15%;
}

.gameui{
    height:85%;
}

.questions{
    height: 100%;
}

.game-intro, .questions-display{
    height: 55%;
}

.lenny {
    max-width: 100%;
}

.results{
    display: none;
}

.right-wrong {
    min-height: 50px
}

.dialog-space {
    min-height: 38px
}

.final {
    min-height: 265px
}

.intro {
    height: 300px;
    background: mediumslateblue;
    border-radius: 3px !important;
}

.time-left {
    font-size: 3.5rem;
    font-weight: bold;
}

.gif-size {
    height: 150px;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}